<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.w2sv.viewboundcontroller.DummyViewBoundActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="MissingClass" />
    </application>
</manifest>